
body{
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

/* Navbar Start  */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

/* Navbar End  */


/* Download Buttons Start */
.download-button {
  margin: 5% 3% 5% 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}



h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
/* Download Buttons End */




/* Title image Start*/



.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%
}


/* Title image End*/


/* Features Section Start */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.features-icon {
  color: #ef8172;
  margin: 1rem auto;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.features-text p {
  color: #8f8f8f
}

/* Features Section End */


/* Testimonials Section Start*/
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 3% 3% 3% 3%;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Testimonials Section End*/

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}


#cta{

  background-color: #ff4c68;
     color: #fff;
     padding: 7% 15%;
     text-align: center;
}
.cta-heading{
  font-family: 'Montserrat', sans-serif;
    font-weight: 900;
 font-size: 3.5rem;
 line-height: 1.5;



}
.cta-column{
   padding: 3% 2%;
}

.cta-button{
 margin: 5% 3% 5% 0;
 font-family: 'Ubuntu', sans-serif;
 font-weight: 500;

}
/* Footer Section */
#footer{
text-align: center;
     padding: 7% 13%;

}
.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title{
text-align: center;
}
.title-image{
  position: static;
  transform: rotate(0deg);
}

 }
